@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark font-serif antialiased transition-colors duration-300 min-h-screen relative overflow-hidden flex flex-col items-center;
    min-height: max(884px, 100dvh);
  }

  /* 全局纹理覆盖层 */
  .paper-overlay {
    @apply absolute inset-0 opacity-40 pointer-events-none mix-blend-multiply dark:mix-blend-overlay bg-paper-texture z-0;
  }
}

.text-gradient-gold {
  background: linear-gradient(to bottom, #C5A065, #A68248);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}